@import "colors/colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "Rubik", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans CJK KR";
    font-size: 16px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

.modules-center {
    background: @bg0;
    padding: 6px 100px;
    border-radius: 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg2;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background: transparent;
    padding: 0;
    margin: 0 10px 0 10px;
    border: none;
    box-shadow: none;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 2px;
    border-radius: 16px;
    color: @grey0;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(135deg, @blue 0%, @purple 50%, @red 100%);
    color: @bg0;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: @bg3;
    color: @fg;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
}

#battery,
#pulseaudio,
#backlight,
#mpris,
#custom-pacman,
#network,
#clock,
#custom-weather,
#custom-media,
#window,
#custom-launcher,
#custom-notification,
#submap,
#power-profiles-daemon,
#custom-home-folder {
    background-color: @bg0;
    padding: 0 8px;
    margin: 0 5px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#submap {
    color: @aqua;
}

#custom-launcher {
    color: @fg;
}

#clock {
    color: @fg;
    margin: 0;
}

#mpris {
    color: @aqua;
    margin: 0 0 0 10px;
}

#custom-weather {
    color: @fg;
}

#custom-notification {
    color: @fg;
}

#power-profiles-daemon {
    color: @fg;
}
#pulseaudio {
    color: @orange;
}
#network {
    color: @purple
}
