@define-color bg0 #11111b;
@define-color bg1 #181825;
@define-color bg2 #1e1e2e;
@define-color bg3 #313244;
@define-color bg4 #45475a;

@define-color red    #e08c75;
@define-color orange #d19a66;
@define-color yellow #e5c07b;
@define-color green  #98c379;
@define-color aqua   #56b6c2;
@define-color blue   #61afef;
@define-color purple #c678dd;

@define-color fg #cdd6f4;

@define-color grey0 #5c6370;
@define-color grey1 #828997;
@define-color grey2 #abb2bf;