@define-color bg0 #1e1e2e;
@define-color bg1 #181825;
@define-color bg2 #11111b;

@define-color sf0 #313244;
@define-color sf1 #45475a;

@define-color red    #f38ba8;
@define-color orange #fab387;
@define-color yellow #f9e2af;
@define-color green  #a6e3a1;
@define-color aqua   #89dceb;
@define-color blue   #89b4fa;
@define-color purple #b4befe;

@define-color fg #cdd6f4;
@define-color idk #cba6f7;


@define-color grey0 #5c6370;
@define-color grey1 #828997;
@define-color grey2 #abb2bf;