@define-color bg0 #191724;
@define-color bg1 #1f1d2e;
@define-color bg2 #26233a;
@define-color bg3 #2a273f;
@define-color bg4 #332e4e;

@define-color red #eb6f92;
@define-color orange #f6c177;
@define-color yellow #f6c177;
@define-color green #9ccfd8;
@define-color aqua #31748f;
@define-color blue #569fba;
@define-color purple #c4a7e7;

@define-color fg #e0def4;

@define-color grey0 #6e6a86;
@define-color grey1 #908caa;
@define-color grey2 #e0def4;