@import 'colors/mocha.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "JetBrainsMono Nerd Font Propo","Adwaita Sans",  sans-serif;
    font-weight: 700;
    font-size: 16px;

    min-height: 25px;
    padding: 0;
    margin-top: 4px;
}

window#waybar{
    background: transparent;
}

tooltip {
    color: @bg0;
    background-color: @bg0;
    border-radius: 20px;

}

tooltip label {
    color: @pri0;
    padding: 0px 6px;
}

#workspaces {
    padding: 2px 6px;
    margin: 1px;
    border-radius: 45px;
    background-color: @bg0;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 45px;
    color: @on_sf1;
    transition: all 0.3s ease-in-out;
}