@import 'colors/mocha.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "JetBrainsMono Nerd Font Propo", "Adwaita Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;

    min-height: 25px;
    padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    color: @bg0;
    background-color: @bg0;
    border-radius: 20px;

}

tooltip label {
    color: @pri0;
    padding: 0px 6px;
}

#workspaces {
    padding: 6px 5px;
    margin: 0 2px;
    border-radius: 25px;
    background-color: @bg0;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 45px;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @pri0;
    color: @bg0;
    min-height: 20px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: @on_sf0;
    color: @bg0;
    min-width: 40px;
    background-size: 400% 400%;
}