@import 'colors/mocha.css';

* {
    border: none;
    border-radius: 0;

    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: 700;
    font-size: 16px;

    min-height: 25;
    padding: 0;
    margin-top: 10px;
}

window#waybar{
    background: transparent;
}